@mixin alc{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin respond ($break) {
    @if $break == tab-land { //1200px
        @media only screen and (max-width: 75em) {  @content; }
    }
    @if $break == tab {
        @media only screen and (max-width: 56.25em) { @content;}
    }
    @if $break == phone {
        @media only screen and (max-width: 37.5em) { @content;}
    }
    @if $break == big {
        @media only screen and (min-width: 112.5em) { @content;}
    }
}