@keyframes MoveInLeft {
    0% {
        transform: translate(-10%,0);
        opacity: 0;
    }
    80% {
        transform: translate(3%,0);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}    
@keyframes MoveInRight {
    0% {
        transform: translate(10%,0);
        opacity: 0;
    }
    80% {
        transform: translate(-3%,0);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}    
@keyframes MoveInbottom {
    0% {
        transform: translate(0, 60%);
        opacity: 0;
    }
   
    100% {
        transform: translate(0);
        opacity: 1;
    }
} 